<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.pe.sanpedro.model.paciente"
			alias="Paciente" />
		<typeAlias type="com.pe.sanpedro.model.Usuario"
			alias="Usuario" />
		<typeAlias type="com.pe.sanpedro.model.Especialidad"
			alias="Especialidad" />
			
	</typeAliases>
	<environments default="clase">
		<environment id="clase">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/clinica" />
				<property name="username" value="root" />
				<property name="password" value="mysqldcv" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/pe/sanpedro/mybatis/mapper/UsuarioMapper.xml"/>
		<mapper resource="com/pe/sanpedro/mybatis/mapper/PacienteMapper.xml"/>
		<mapper resource="com/pe/sanpedro/mybatis/mapper/HorarioMedicoMapper.xml"/>
		<mapper resource="com/pe/sanpedro/mybatis/mapper/EspecialidadMapper.xml"/>
		<mapper resource="com/pe/sanpedro/mybatis/mapper/CitaMapper.xml"/>
	</mappers>

</configuration>
