<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.pe.sanpedro.mybatis.mapper.CitaMapper">
 
 
 	<insert id="registrar" statementType="CALLABLE" parameterType="java.util.Map">
 		
 	call sp_registroCita(#{fechaCita},#{idMedico},#{idPaciente},#{motivo},#{hora})
 	
 	</insert>
 	
 	
 	<select id="listaCitas" resultType="com.pe.sanpedro.model.cita" statementType="CALLABLE" parameterType="java.util.Map">
 		call sp_listaCitas(#{usu},#{pass})
	</select>
 	
 	
 	
 	
 </mapper>